@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$background-color: #E1E5EE;
$text-color: #000;
$button-color: #2A324b;
$button-hover: #58699D;
$white-box: #fff;
$font-family: "Montserrat", serif;

body {
    background-color: $background-color;
    font-size: smaller;
    font-family: "Montserrat", serif;
    font-weight: 400;
}

main {
  box-sizing:content-box;
  color: $text-color;
  width:fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 5px;
  padding-right: 15px; 
  }

.white-box {
  width:fit-content;
  height:fit-content;
  background-color:$white-box;
  color:$text-color;
  padding:50px;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  margin-top: -6px;
}

#kategorier {
  display: flex;
  gap: 10px;
  margin-top:50px;
}

#kategorier button {
  background-color:$button-color;
  color:$white-box;
  border: none;
  padding: 10px 20px;
  margin: 6px;
  cursor: pointer;
  opacity: 0.7;
  font-family: "Montserrat", serif;
  font-weight: 700;
}

  #kategorier button.active{
    background-color:$white-box;
    color: $text-color;
  }

  #kategorier button:hover{
    background-color:$button-hover;
    color:$white-box;
}

a {
  color:$text-color;
}

#kategorier button[data-kategori="alle"] {
  display: none;
}

#innhold {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

#innhold article {
  width: auto;
  border: none;
  padding: 0;
  box-sizing: border-box;
  margin-bottom: 20px;
}